.line-chart-wrapper {
    margin-top: auto;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 50% 163%, #d1d8db 50%, #fff 84%);
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
}
