.tooltip {
  align-items: center;
  background-color: #fff;
  border: solid 1px #dcf1ed;
  border-radius: 15px;
  box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  height: 77px;
  justify-content: center;
  opacity: 0.95;
  width: 135px;

  p {
    color: #5a707b;
    font-size: 12px;
    margin: 0;
    padding: 0;

    &:first-child {
      color: #39474e;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}
