@import '../../style/base.scss';

.chevron-container {
    &.up {
        transform: rotate(270deg);
    }

    &.down {
        transform: rotate(90deg);
    }

    &.left {
        transform: rotate(180deg);
    }
}

.back,
.forward,
.down {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: $darkest-grey;
    background: none;
    border: none;

    &.active,
    &:active {
        color: $darkest-grey;
    }

    &.light {
        color: $white;
        background: transparent;
    }

    &.dark {
        color: $dark-grey;
    }

    &.blue {
        color: $blue-link;
    }

    &.select {
        color: $darker-grey;
    }

    &.highlight {
        font-size: 1.5em;
        height: auto;
    }

    &.transparent {
        background: transparent;
    }

    &.disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}

.back {
    margin-top: 10px;
}

.menu {
    display: flex;
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    color: $white;
    background: $darkest-grey;
    transition: transform ease-in-out 0.2s;
    border: none;

    &.active,
    &:active {
        transform: rotate(180deg);
    }

    &.light {
        color: $white;
        background: transparent;
    }

    &.soft {
        color: $darkest-grey;
        background-color: rgba($darkest-grey, 0.1);
    }

    &.transparent {
        color: $darkest-grey;
        background: transparent;
    }

    &.disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}
