@import "../style/color/colors";

:global(.skin-frank) {
    .progress-bar {
        .current-progress {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            transition : width 2s ease;

            &.cards,
            &.grey {
                background: $frank-purple-light;
            }

            &.blue {
                background: $frank-green;
            }

            &.insurance,
            &.orange {
                background: $frank-pink;
            }

            &.accounts,
            &.green {
                background: $frank-blue-alt;
            }

            &.investments {
                background: $frank-red;
            }

            &.loan {
                background: $frank-blue;
            }
        }
    }
}
