@import "../style/base.scss";
@import "./ProgressBarFrank";

.progress-bar {
    width: 100%;
    border-radius: 4px;
    background-color: #f3f3f3;
    height: 6px;

    &.orange {
        background: rgba($orange, 0.3);

        .marker {
            &::after {
                background: $orange-alert;
            }
        }
    }

    .current-progress {
        border-radius: 4px;
        height: 6px;
        transition : width 5s ease;

        &.green {
            background: $gradient-green;
        }

        &.grey {
            background: $gradient-grey-dark;
        }

        &.accounts,
        &.blue {
            background: $gradient-blue;
        }

        &.orange {
            background: $gradient-orange;
        }

        &.lightgrey {
            background: $gradient-mid-ash-grey-start;
        }

        &.investments {
            background: $gradient-dark-blue;
        }

        &.cards {
            background: $gradient-mid-ash-grey;
        }

        &.loan {
            background: $gradient-dark-ash-grey;
        }

        &.insurance {
            background: $gradient-purple;
        }
    }

    .marker {
        position: relative;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &::after {
            content: "";
            display: block;
            height: 12px;
            margin-left: auto;
            width: 1px;
            background-color: $gradient-dark-ash-grey-start;
            right: 0;
            top: -3px;
            position: absolute;
        }
    }

    .current-progress-label {
        display: none;
        color: $gradient-mid-ash-grey-start;
        &.label {
            display: block;
        }
    }
}
