@import "../style/base.scss";
@import "./InputFrank";

// @TODO: BIG font-sizes does not align properly

$font-size: 16px;

    .input {
        position: relative;
        font-size: $font-size;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: $dark-grey;
        border: 1px solid transparent;
        border-bottom: 1px solid $light-grey;
        margin: 20px 0 10px;

        @include iphone-small {
            font-size: $font-size * 0.8;
        }

        input {
            display: block;
            padding: 0.65em 0 0.32em 0;
            border: none;
            width: 100%;
            font-family: 'Open Sans', sans-serif !important;
        }

        small.error-label {
            display: none;
        }

        &.error {
            border-bottom: 1px solid $red;

            small.error-label {
                display: block;
                position: absolute;
                font-size: 0.8em;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.42;
                letter-spacing: normal;
                color: $red;
                bottom: -1.8em;
                width: 100%;
            }
        }

        label {
            position: absolute;
            font-size: 1em;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: $ink;
            // top: 0.6em;
            transition: all cubic-bezier(0, 0, 0.2, 1) 0.2s;
            pointer-events: none;
        }

        &:focus,
        &.focused {
            color: $dark-grey;
            border-bottom: 1px solid $blue-link;

            label {
                font-size: 0.8em;
                line-height: 1.43;
                top: -0.8em;
                left: -1px;
            }
        }

        &.filled {
            border-bottom: 1px solid $light-grey;
        }

        &.disabled {
            opacity: 0.4;
            pointer-events: none;
        }
    }
