@import '../style/base.scss';

.common-alert-message {
    border-radius: 10px;
    background-color: #fdf7ef;
    padding: 14px;
    display: flex;
    align-items: center;

    img {
        height: 24px;
        width: 24px;
        margin-right: 14px;
        align-self: start;
    }

    .content {
        font-size: 14px;
        line-height: 1.43;
        color: $darker-grey;
    }
}
