// iPhone 6+/7+/8+
@mixin iphone-plus {
    @media screen and (max-width: 414px) {
        @content;
    }
}

// iPhone 6/7/8
@mixin iphone-normal {
    @media screen and (max-width: 375px) {
        @content;
    }
}

// iPhone 5/SE
@mixin iphone-small {
    @media screen and (max-width: 320px) {
        @content;
    }
}
