@import "../../style/base.scss";

    .common-amount-input {
        width: 100%;

        .label-text {
            color: $ink;
        }

        .input-wrapper {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 8px 0 11px 0;

            .display-formatted-value {
                position: relative;
                color: $darker-grey;
                border: 0;
                padding: 0;
                width: 100%;
                min-height: $body-font-size * 1.5;

                @include iphone-small {
                    min-height: $body-font-size * $iphone-small-ratio * 1.5;
                }
            }

            .real-input {
                position: absolute;
                top: 0;
                left: 0;
                border: 0;
                padding: 0;
                color: transparent;
                width: 0;
                height: 0;
            }
        }

        .error-message {
            margin-top: 5px;
            color: $red;
        }

        .helper-message {
            margin-top: 5px;
        }
    }
