$frank-black: #000000;
$frank-white: #ffffff;

$frank-background-color: #fcc54f;
$frank-blue-background: #597eb4;
$frank-dark-blue-background: #415b73;
$frank-main-color: #667c88;
$frank-base-color: #495a63;
$frank-secondary-color: #667c88;
$frank-secondary-active: $frank-base-color;
$frank-secondary-dark: #94a4ad;
$frank-secondary-light: #ebeff1;
$frank-loading-shimmer: #f6f7f8;
$input-field-color-frank: #597eb4;

$frank-text-color: #222222;

$frank-disabled-dark: #484848;
$frank-disabled-grey: #473030;
$frank-disabled-white: $frank-white;

$frank-inactive-menu: #658fbc;

$frank-red: #e96044;
$frank-orange: #fcc54f;
$frank-pink: #e95f86;
$frank-green: #58b9af;
$frank-green-active: #00b188;
$frank-orange-alt: #e96044;
$frank-grey-light: #afafaf;
$frank-grey-lighter: #fafcfc;
$frank-purple-light: #7a70ad;
$frank-purple-alt: #af7ead;
$frank-blue: #13a493;
$frank-blue-alt: #597eb4;
$frank-blue-grey: rgba(255, 255, 255, 0.7);
$frank-greyish-brown: rgba(64, 64, 64, 0.7);

$frank-gradient-grey-dark: radial-gradient(circle at 100% 50%, $frank-main-color, #7c909b);
$frank-gradient-grey-mid: radial-gradient(circle at 80% 83%, $frank-secondary-dark, #39474e);
$frank-gradient-grey-light: radial-gradient(circle at 100% 62%, $frank-grey-light, $frank-grey-lighter);

$frank-gradient-blue: radial-gradient(circle at 100% 39%, #61a7db, #79e0d6);
$frank-gradient-orange: radial-gradient(circle at 110% 141%, #ff726e, #f6c468);
$frank-gradient-green: radial-gradient(circle at 100% 46%, #21d2a3, $frank-green-active 100%);
$frank-gradient-green-active: radial-gradient(circle at 100% 46%, $frank-green-active, $frank-green-active 100%);
