// Neutral colours
// DO NOT ADD to this list unless approved by designer.
$black: #000000;
$ink: #39474e;
$darkest-grey: #4a5c65;
$darker-grey: #5a707b;
$dark-grey: #6b8592;
$grey: #889195;
$light-grey: #d7dadc;
$lighter-grey: #dce2e5;
$lightest-grey: #f2f5f6;
$background: #f8fbfb;
$white: #ffffff;
$darker-ash-grey: #495a63;
$dark-ash-grey: #667c88;
$ash-grey: #94a4ad;

// Functional colours
// DO NOT ADD to this list unless approved by designer.
$blue-link: #005efd;
$blue-cool: #406bb5;
$green-success: #006060;
$solid-green: #15adaf;
$green: #319988;
$light-green: #e0f0ed;
$red-error: #e00000;
$red: #ef473a;
$light-red: #ffe3e1;
$orange-alert: #e65722;
$orange: #f4af62;
$light-blue: #e3e9f4;
$orange-bg: #fef3e8;

// Gradients
// DO NOT ADD to this list unless approved by designer.
$gradient-dark-ash-grey-start: #495a63;
$gradient-dark-ash-grey-end: #7c909b;
$gradient-dark-ash-grey: radial-gradient(
    circle at 100% 50%,
    $gradient-dark-ash-grey-start,
    $gradient-dark-ash-grey-end
);

$gradient-mid-ash-grey-start: #94a4ad;
$gradient-mid-ash-grey-end: $ink;
$gradient-mid-ash-grey: radial-gradient(circle at 80% 83%, $gradient-mid-ash-grey-start, $gradient-mid-ash-grey-end);

$gradient-light-ash-grey-start: #d1d8db;
$gradient-light-ash-grey-end: #fafcfc;
$gradient-light-ash-grey: radial-gradient(
    circle at 100% 62%,
    $gradient-light-ash-grey-start,
    $gradient-light-ash-grey-end
);

$gradient-orange-start: #ff726e;
$gradient-orange-end: #f6c468;
$gradient-orange: radial-gradient(circle at 100% 85%, $gradient-orange-start, $gradient-orange-end);

$gradient-green-start: #21d2a3;
$gradient-green-end: $solid-green;
$gradient-green: radial-gradient(circle at 100% 46%, $gradient-green-start, $gradient-green-end 100%);

$gradient-dark-blue-start: #29517a;
$gradient-dark-blue-end: #3871c2;
$gradient-dark-blue: radial-gradient(circle at 100% 85%, $gradient-dark-blue-start, $gradient-dark-blue-end);

$gradient-blue-start: #61a7db;
$gradient-blue-end: #79e0d6;
$gradient-blue: radial-gradient(circle at 100% 39%, $gradient-blue-start, $gradient-blue-end);

$gradient-purple-start: #7860e1;
$gradient-purple-end: #8ca8f7;
$gradient-purple: radial-gradient(circle at 100% 39%, $gradient-purple-start, $gradient-purple-end);

@import "./colors-frank";

// Other colors
// Add your custom colors here.
$gradient-grey-dark: radial-gradient(circle at 100% 50%, $dark-grey, #7c909b);
$gradient-grey-mid: radial-gradient(circle at 80% 83%, $dark-grey, #39474e);
$gradient-grey: radial-gradient(circle at 93% 90%, #d1d8db, #fafcfc);
$gradient-white: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
$gradient-tooltip-green: linear-gradient(to bottom, #5fc9bd, #319988);

$app-overlay: rgba($ink, 0.75);

$chevron-color: #dce2e5;
$reference-color: #4a5c65;
