$z-page-transition: 2000;
$z-loader: 1500;
$z-bottom-drawer: 900;
$z-dialog: 800;
$z-app-menu: 700;
$z-quick-actions: 600;
$z-app-header: 300;
$z-interstitial: 100;
$z-animated-list: 50;
$z-base: 1;
$z-negative: -1;
