$padding-top: 40px;
$font-ratio-320: 0.8;
$header-offset-top: 80px;

.header-offset-container {
    padding-top: $header-offset-top;
}

@mixin safe-area-top-div {
    height: env(safe-area-inset-top, 3.5vh);
    min-height: 3.5vh;
}

// This mixin provides a vh value that is fixed througout execution, which is useful when the keyboard
// opens on iOS and modify the viewport's size. It allows some elements which height is based on vh
// to not be resized when the keyboard opend.
@mixin safe-height-vh($value) {
    height: #{$value}vh;
    height: calc(var(--vh, 1vh) * #{$value});
}
