@import "../../style/color/colors";

:global(.skin-frank) {
    .btn {
        text-transform: uppercase;

        &.text {
            color: $frank-blue;
            font-size: 1.1em;
        }

        &.shadow {
            background: $frank-green-active;
            font-family: "Bebas Neue";
            text-transform: uppercase;
            letter-spacing: 1.8px;
            color: $frank-white;
            font-size: 1.2em;
        }

        &.outline {
            background: $frank-green-active;
            font-family: "Bebas Neue";
            text-transform: uppercase;
            letter-spacing: 1.8px;
            color: $frank-white;
            font-size: 1.2em;
        }
    }
}
