@import "../../style/base.scss";
@import "./ButtonFrank";


    .common-btn {
        display: inline-block;
        min-width: 142px;
        height: 52px;
        border: none;
        padding: 15px 10px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        border-radius: 5px;
        background: $darker-grey;
        color: $white;
        transition: all ease-in-out 0.2s;

        &.disabled,
        &:disabled {
            opacity: 0.4;
        }

        &.active,
        &:active {
            background: $darkest-grey;
        }

        &.primary {
            background-image: $gradient-green;

            &.active,
            &:active {
                background-image: none;
                background-color: $solid-green;
            }

            &.disabled,
            &:disabled {
                background-image: none;
                background-color: $light-grey;
                opacity: 1;
            }
        }

        &.light-solid {
            background-color: $white;
            color: $green;

            &.active,
            &:active {
                background: $gradient-light-ash-grey;
            }
        }

        &.outline {
            padding: 0.65em;
            font-size: 0.8em;
            line-height: 1.29;
            border-radius: 6px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
            border: solid 1px $dark-grey;
            background: $white;
            color: $dark-grey;

            &.active,
            &:active {
                border: solid 1px $darkest-grey;
            }
        }

        &.block {
            display: block;
            width: 100%;
        }

        &.text {
            border: none;
            padding: 0.4em 0;
            color: $blue-link;
            font-size: $small-font-size;
            line-height: 1.29;
            min-width: 0;
            font-weight: 400;
            background: none;
            box-shadow: none;

            &:visited,
            &.visited {
                color: $blue-cool;
            }
        }

        &.shadow {
            padding: 20px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
            background-color: $white;
            border-radius: 0;
            color: $blue-link;
            font-size: 0.8em;
            font-weight: bold;
            line-height: 1;

            &.active,
            &:active {
                color: $blue-cool;
            }
        }

        &.light {
            background: none;
            border: 1px solid $white;
            color: $white;

            &.active,
            &:active {
                color: $darkest-grey;
            }
        }
    }
