$transition-duration: 400ms;
$up-transition-duration: 300ms;

// Right Slide Show

.right-slide-show-enter {
    transform: translateX(100vw);
    position: fixed;
    z-index: $z-page-transition;
}

.right-slide-show-enter.right-slide-show-enter-active {
    transform: translateX(0);
    transition: all $transition-duration;
    position: fixed;
}

.right-slide-show-exit {
    transform: translateX(0);
}

.right-slide-show-exit.right-slide-show-exit-active {
    transform: translateX(-50vw);
    transition: transform $transition-duration;
}


// Right Slide Hide

.right-slide-hide-enter {
    transform: translateX(-50%);
}

.right-slide-hide-enter.right-slide-hide-enter-active {
    transform: translateX(0);
    transition: transform $transition-duration;
}

.right-slide-hide-exit {
    transform: translateX(0%);
    position: fixed;
    z-index: $z-page-transition;
}

.right-slide-hide-exit.right-slide-hide-exit-active {
    transform: translateX(100%);
    position: fixed;
    transition: transform $transition-duration;
}

// Up Slide Show

.up-slide-show-enter {
    transform: translateY(100%);
}

.up-slide-show-enter.up-slide-show-enter-active {
    transform: translateY(0);
    transition: transform $up-transition-duration;
    position: fixed;
    z-index: $z-page-transition;
}

// Up Slide Hide

.up-slide-hide-enter.up-slide-hide-enter-active {
    transform: translateY(0);
    transition: transform $up-transition-duration;
    position: fixed;
}

.up-slide-hide-exit.up-slide-hide-exit-active {
    transform: translateY(100%);
    transition: transform $up-transition-duration;
    z-index: $z-page-transition;
}

// Left Slide Show

.left-slide-show-enter {
    transform: translateX(-100%);
    position: fixed;
}

.left-slide-show-enter.left-slide-show-enter-active {
    transform: translateX(0);
    transition: transform $transition-duration;
    position: fixed;
    z-index: $z-page-transition;
}

.left-slide-show-exit {
    transform: translateX(0);
}

.left-slide-show-exit.left-slide-show-exit-active {
    transform: translateX(50%);
    transition: transform $transition-duration;
}

// Left Slide Hide

.left-slide-hide-enter {
    transform: translateX(50%);
    position: fixed;
}

.left-slide-hide-enter.left-slide-hide-enter-active {
    transform: translateX(0);
    transition: transform $transition-duration;
    position: fixed;
}

.left-slide-hide-exit {
    transform: translateX(0);
}

.left-slide-hide-exit.left-slide-hide-exit-active {
    transform: translateX(-100%);
    transition: transform $transition-duration;
    z-index: $z-page-transition;
}
