@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url("../../../fonts/open-sans-v15-latin-300.eot");
    src: local("Open Sans Light"), local("OpenSans-Light"),
        url("../../../fonts/open-sans-v15-latin-300.eot?#iefix") format("embedded-opentype"),
        url("../../../fonts/open-sans-v15-latin-300.woff2") format("woff2"),
        url("../../../fonts/open-sans-v15-latin-300.woff") format("woff"),
        url("../../../fonts/open-sans-v15-latin-300.ttf") format("truetype"),
        url("../../../fonts/open-sans-v15-latin-300.svg#OpenSans") format("svg");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../../../fonts/open-sans-v15-latin-regular.eot");
    src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url("../../../fonts/open-sans-v15-latin-regular.eot?#iefix") format("embedded-opentype"),
        url("../../../fonts/open-sans-v15-latin-regular.woff2") format("woff2"),
        url("../../../fonts/open-sans-v15-latin-regular.woff") format("woff"),
        url("../../../fonts/open-sans-v15-latin-regular.ttf") format("truetype"),
        url("../../../fonts/open-sans-v15-latin-regular.svg#OpenSans") format("svg");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../../../fonts/open-sans-v15-latin-600.eot");
    src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
        url("../../../fonts/open-sans-v15-latin-600.eot?#iefix") format("embedded-opentype"),
        url("../../../fonts/open-sans-v15-latin-600.woff2") format("woff2"),
        url("../../../fonts/open-sans-v15-latin-600.woff") format("woff"),
        url("../../../fonts/open-sans-v15-latin-600.ttf") format("truetype"),
        url("../../../fonts/open-sans-v15-latin-600.svg#OpenSans") format("svg");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../../../fonts/open-sans-v15-latin-700.eot");
    src: local("Open Sans Bold"), local("OpenSans-Bold"),
        url("../../../fonts/open-sans-v15-latin-700.eot?#iefix") format("embedded-opentype"),
        url("../../../fonts/open-sans-v15-latin-700.woff2") format("woff2"),
        url("../../../fonts/open-sans-v15-latin-700.woff") format("woff"),
        url("../../../fonts/open-sans-v15-latin-700.ttf") format("truetype"),
        url("../../../fonts/open-sans-v15-latin-700.svg#OpenSans") format("svg");
}

@font-face {
    font-family: "Bebas Neue";
    font-weight: 600;
    src: url("../../../fonts/bebas-neue-regular-600.otf") format("opentype");
}

@font-face {
    font-family: "Libre Baskerville";
    font-weight: bold;
    src: url("../../../fonts/libre-baskerville-bold-900.otf") format("opentype");
}

@font-face {
    font-family: "Libre Baskerville";
    font-weight: 400;
    font-style: italic;
    src: url("../../../fonts/libre-baskerville-italic-400.otf") format("opentype");
}

@font-face {
    font-family: "Libre Baskerville";
    font-weight: 400;
    src: url("../../../fonts/libre-baskerville-regular-400.otf") format("opentype");
}

@font-face {
    font-family: "Font Awesome";
    font-weight: 400;
    src: url("../../../fonts/font-awesome-pro-regular-400.otf") format("opentype");
}

@font-face {
    font-family: "Font Awesome";
    font-weight: 300;
    src: url("../../../fonts/font-awesome-pro-light-300.otf") format("opentype");
}

@font-face {
    font-family: "Font Awesome";
    font-weight: 900;
    src: url("../../../fonts/font-awesome-pro-solid-900.otf") format("opentype");
}

.far,
.fal,
.fas {
    font-family: "Font Awesome";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.far {
    font-weight: 400;
}

.fal {
    font-weight: 300;
}

.fas {
    font-weight: 900;
}
