@import "../style/base.scss";

.category-row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 101px;
    position: relative;
    padding: 15px 0;
    justify-content: space-between;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &.border {
        border-bottom: 1px solid $lighter-grey;
    }

    .category-icon {
        min-height: 48px;
        min-width: 48px;
        margin-right: 15px;
    }

    .title {
        @include small-regular;
        z-index: 1;
        margin: 0;
        min-width: 110px;
        text-align: left;
        color: $darker-grey;
    }

    .description {
        @include small-regular;
        margin: 0;
    }

    &.budget-mode {
        .title {
            font-weight: 800;
        }
    }

    .progress {
        position: absolute;
        right: 0;
        top: 0;

        max-width: 180px;
        height: 70px;
        background-color: rgba($orange, 0.1);
        border-radius: 8px;
    }
}
