@import "../../style/color/colors";
@import "../../style/dimension/dimensions";

.skin-frank {
    .info-container {
        &.accounts,
        &.green {
            background: $frank-blue-alt;
        }
        &.grey {
            background: $frank-orange-alt;
        }
        &.blue {
            background: $frank-green;
        }

        &.insurance,
        &.orange {
            background: $frank-pink;
        }

        &.cards {
            background: $frank-purple-light;
        }

        &.investments {
            background: $frank-red;
        }

        &.loan {
            background: $frank-blue;
        }
    }

    .view {
        font-family: "Libre Baskerville";
        font-size: 12px;
    }

    .account {
        font-family: "Bebas Neue";
        font-size: 38px;
    }

    .account-number {
        font-family: "Libre Baskerville";
    }
}
