@import "./AccountHeaderFrank";

.info-container {
    padding-bottom: 6px;
    &.green {
        background: $gradient-green;
    }
    &.grey {
        background: $gradient-grey-dark;
    }

    &.accounts,
    &.blue {
        background: $gradient-blue;
    }
    &.orange {
        background: $gradient-orange;
    }

    &.investments {
        background: $gradient-dark-blue;
    }

    &.cards {
        background: $gradient-mid-ash-grey;
    }

    &.loan {
        background: $gradient-dark-ash-grey;
    }

    &.insurance {
        background: $gradient-purple;
    }

    .info-inner {
        button.full-details {
            margin-top: 20px;
            width: 100%;
            color: white !important;
        }
    }
}

.top-row {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}

.chevron-container {
    background-color: "transparent";
    position: relative;
    left: -10px;
}

.view {
    width: 34px;
    height: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
}

.account-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account {
    width: 261px;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: -0.3px;
    @media screen and (max-width: 320px) {
        word-break: break-all;
        font-size: 30px * $font-ratio-320;
    }
    color: #ffffff;
}

.oval {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.account-number {
    width: 100vw;
    height: 24px;
    opacity: 0.5;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;

    @media screen and (max-width: 320px) {
        font-size: 18px * $font-ratio-320;
    }
}

.account-header-tooltip {
    height: 90px;
    width: 270px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;

    &__title {
        font-size: 16px;
        font-weight: bold;
        padding-top: 20px;
    }

    &__sub-title {
        font-size: 14px;
    }

    &__cta {
        font-size: 14px;
        font-weight: bold;
        text-align: right;
        margin-top: 5px;
        pointer-events: all;
    }
}

.account-header-tooltip-wrapper {
    & > div:first-child > div:first-child {
        right: 6%;
    }
}
