// !!! WARNING !!!
// DO NOT ADD styling to this file or any of its imports.
// Only variables and mixins should be included here.

@import "./color/colors";
@import "./dimension/dimensions";
@import "./typography/typography";
@import "./device-selector/device-selectors";
@import "./z-index/z-index";
@import "./font/fonts";
@import './fontawesome/scss/fontawesome.scss';
@import './global.scss';
//@import './fontawesome/scss/solid.scss';


@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@mixin loading-shimmer {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, $lightest-grey 8%, #edeef1 38%, $lightest-grey 84%);
    background-size: 1000px 640px;
    position: relative;
}

@mixin loading-shimmer-dark {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #D8D8D8 8%, #E0E0E0 38%, #D8D8D8 84%);
    background-size: 1000px 640px;
    position: relative;
}
