@import './page-transition/page-transitions';

// Default styles
* {
    outline: none !important;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    font-family: 'Open Sans', sans-serif !important;
    font-size: $body-font-size;
    line-height: 1.5;
    color: $darker-grey;
    &.skin-frank {
        color: $frank-text-color;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: $h1-font-size;
    line-height: 1.25;
    color: $ink;
}

h2 {
    font-size: $h2-font-size;
    font-weight: bold;
    line-height: 1.25;
    color: $ink;
}

h3 {
    font-size: $h3-font-size;
    font-weight: bold;
    line-height: 1.25;
    color: $ink;
}

h4 {
    font-size: $h4-font-size;
    font-weight: bold;
    line-height: 1.25;
    color: $ink;
}

h5 {
    font-size: $h5-font-size;
    font-weight: 600;
    line-height: 1.25;
    color: $ink;
}

h6 {
    font-size: $h6-font-size;
    font-weight: 600;
    line-height: 1.25;
    color: $ink;
}

// Global styles
#app-container {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#app-menu {
    z-index: $z-app-menu;
    height: 0px;
    width: 100%;
}

#bottom-drawer {
    z-index: $z-bottom-drawer;
}

#dialog {
    z-index: $z-dialog;
}

#quick-actions {
    z-index: $z-quick-actions;
}

#interstitial {
    z-index: $z-interstitial;
}

#application {
    z-index: $z-base;
    max-width: 480px;
    overflow-x: hidden;
}

.transition-wrapper {
    position: fixed;
    overflow-x: hidden;
    height: 100vh;
    background: $white;
    transition: transform 200ms;
}

.frosted {
    // will be removed soon
    z-index: 10;
    filter: blur(5px);
}

.link {
    @include link;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.visible {
    z-index: $z-base;
    opacity: 1;
}

.appRouter {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    background: $white;
    opacity: 1;
    transition: all 0.5s;

    & > div {
        width: 100%;
        min-height: 100vh;
    }
}

.loader-container {
    z-index: $z-loader;
    position: absolute;
    background: rgba($white, 0.65);
    height: 100%;
    width: 100%;

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.regular-bold {
    @include regular-bold;
}

.small-bold {
    @include small-bold;
}

.small-semi-bold {
    @include small-semi-bold;
}

.small-link {
    @include small-link;
}

.small-regular {
    @include small-regular;
}

.xsmall-bold {
    @include xsmall-bold;
}

.xsmall-semi-bold {
    @include xsmall-semi-bold;
}

.xsmall-regular {
    @include xsmall-regular;
}

.button {
    font-size: $body-font-size;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: $darker-grey;
}

.button-link {
    font-size: $body-font-size;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: $blue-link;
}

.frank h1,
.frank.h1,
.frank h2,
.frank.h2,
.frank h3,
.frank.h3,
.frank h4,
.frank.h4,
.frank h5,
.frank.h5,
.frank h6,
.frank.h6,
.frank h7,
.frank.h7 {
    text-transform: uppercase;
    color: $black;
    font-family: 'Bebas Neue';
    font-size: 2em;
}

// iPhone 5/SE
@include iphone-small {
    $ratio: $iphone-small-ratio;
    h1 {
        font-size: $h1-font-size * $ratio;
    }

    h2 {
        font-size: $h2-font-size * $ratio;
    }

    h3 {
        font-size: $h3-font-size * $ratio;
    }

    h4 {
        font-size: $h4-font-size * $ratio;
    }

    h5 {
        font-size: $h5-font-size * $ratio;
    }

    h6 {
        font-size: $h6-font-size * $ratio;
    }

    .button {
        font-size: $body-font-size * $ratio;
    }

    .button-link {
        font-size: $body-font-size * $ratio;
    }

    body {
        font-size: $body-font-size * $ratio;
    }

    .link {
        font-size: $body-font-size * $ratio;
    }

    .small-bold {
        font-size: $small-font-size * $ratio;
    }

    .small-link {
        font-size: $small-font-size * $ratio;
    }

    .small-regular {
        font-size: $small-font-size * $ratio;
    }

    .xsmall-bold {
        font-size: $xsmall-font-size * $ratio;
    }

    .xsmall-regular {
        font-size: $xsmall-font-size * $ratio;
    }
}

.numeric-length {
    &-8 {
        font-size: $body-font-size;
    }

    &-9 {
        font-size: $small-font-size;
    }

    &-10 {
        font-size: $small-font-size;
    }

    &-11 {
        font-size: $xsmall-font-size;
    }

    &-12 {
        font-size: $xsmall-font-size;
    }
}
