@font-face {
    font-family: IconMaterial;
    src: url(./icon.css);
}
$bgColor: #3a3d55;
$slideBgColor: rgba(255, 255, 255, 0.3);
$slideBallColor: white;
$slideBallIconColor: black;
$slideTextColor: #fff;

@mixin center {
    align-items: center;
    display: flex;
    justify-content: center;
}

@mixin nonselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-button {
    background-image: radial-gradient(circle at 100% 46%, #21d2a3, #15adaf 102%);
    border: white;
    border-radius: 40px;
    height: 54px;
    position: relative;
    width: 335px;
    @include center;
    &.bg-on-click {
        background: #15adaf;
    }
    &.disable {
        background-color: #5a707b;
        pointer-events: none;
        background-image: none;
    }
}

.bg-converted {
    background: white !important;
}

.slider-button {
    background-color: $slideBallColor;
    border-radius: 50%;
    height: 48px;
    left: 4px;
    position: absolute;
    transition: width 0.3s, border-radius 0.3s, height 0.3s;
    width: 48px;
    @include center;
    &.unlocked {
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-name: spin;
        animation-timing-function: linear;
        border-radius: inherit;
        height: inherit;
        left: calc(50% - 26px) !important;
        transition: all 0.3s;
    }
}
.loading {
    display: none;
}
.material-icons {
    color: $slideBallIconColor;
    font-size: 50px;
    @include nonselect;
}
.custome-arrow {
    color: #319988;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    width: 8px;
}

.disable {
    .custome-arrow {
        color: #5a707b;
    }
}
.slide-text {
    @include nonselect;

    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
