@import "../style/color/colors";

    .card {
        border-radius: 0;
        box-shadow: none;
        min-width: 200px;
        margin: 2.5vh 5.3vw 0;
        background-color: $white;

        &.content {
            box-shadow: 0 2px 15px 8px rgba(0, 0, 0, 0.05);
        }

        &.lifted {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
        }

        &.unit {
            width: 90vw;
        }
    }
