@import '../style/base.scss';
@import './CardFrank';

.common-card {
    min-width: 200px;
    margin: 2.5vh 5.3vw 0;
    border-radius: 16px;
    box-shadow: 0 2px 15px 8px rgba(0, 0, 0, 0.05);
    background-color: $white;

    &.content {
        box-shadow: 0 2px 15px 8px rgba(0, 0, 0, 0.05);
    }

    &.lifted {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
    }

    &.unit {
        width: 90vw;
    }
}
.common-card.grey-header-card {
    box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.08);
    margin: 0;

    .title {
        background-color: $lightest-grey;
        padding: 10px 20px;
        color: $dark-grey;
        border-radius: 16px 16px 0 0;
    }
}
