@import "../../style/base.scss";

.button {
    height: 48px;
    width: 48px;
    min-height: 48px;
    min-width: 48px;
    border-radius: 50%;
    color: $white;
    margin-left: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: $gradient-green;
    &.visited, &:visited, &.active, &:active {
        background: $gradient-green;
    }
}