@import '../style/base.scss';

.common-button-alert {
    font-size: 18px;
    position: relative;
    width: 1.7em;
    height: 1.7em;
    padding: 0.28em;
    background: none;
    color: $darkest-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    &.tick {
        &::after {
            display: block;
            content: ' ';
            height: 0.55em;
            width: 0.55em;
            background: $orange;
            border-radius: 0.3em;
            position: absolute;
            right: 0.3em;
            top: 0.3em;
        }
    }

    &:active,
    &.active {
        color: $dark-grey;
    }

    &.disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}

.skin-frank {
    .common-button-alert {
        color: $white;
    }
}
