@import "../../style/color/colors";

.add-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border: dashed 2px #94a4ad;
    padding: 20px;
    font-size: 16px;
    color: $darkest-grey;

    .picto-add {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $lightest-grey;
        margin-right: 20px;
        cursor: pointer;
    }
}
