@import "../style/base.scss";

.select-date {
    .date-calendar-wrapper {
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;

        border-bottom: 1px solid $light-grey;
        &.active {
            border-bottom: 1px solid $blue-link;
        }
    }
}
