@import "../style/base.scss";

    .slide-to-unlock {
        &.track {
            border-radius: 25px;
            height: 50px;
            width: 100%;

            position: relative;
            padding: 3px;

            background-color: rgba(255, 255, 255, 0.5);

            .text {
                position: absolute;
                top: 0px;
                line-height: 50px;
                width: 100%;
                padding-left: 25px;
                text-align: center;
                color: #495a63;
            }

            .handle {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 44px;
                height: 44px;
                border-radius: 44px;
                background-image: linear-gradient(to bottom, #5fc9bd, #319988);
                &::before {
                    font-size: $h5-font-size;
                    color: $white;
                }
            }
        }
    }
