@import "../style/base.scss";

.card-summary {
    display: flex;
    .status {
        padding-right: 15px;
        min-width: 31px;
        &.success {
            color: $green;
        }   
        &.error {
            color: $orange-alert;
        }
    }
    .image {
        position: relative;
        &.locked::before {
            border-radius: 2px;
            background: radial-gradient(circle at 80% 83%, rgba(148, 164, 173, 0.9), rgba(57, 71, 78, 0.8));
            content: "";
            position: absolute;
            height: 30px;
            width: 47px;
            left: 0;
        }
        &.locked::after {
            border-radius: 2px;
            background: url("../../assets/images/shared/status-light-locked.svg") 50% 50% no-repeat;
            content: "";
            position: absolute;
            height: 30px;
            width: 47px;
            left: 0;
            background-size: 24px 24px;
        }
    }
    .icon {
        height: 30px;
        padding-right: 15px;
    }
    .name-number {
        min-width: 100%;
        & > h6, & > p {
            margin: 0;
        }
        & > h6 {
            padding: 5px 0;
        }
        .card-number {
            color: $darker-grey;
            font-weight: normal;
        }
        .description {
            color: $darker-grey;
            font-weight: 600;
        }
    }
    
}