@import "../style/base.scss";

.time-picker {
    width: 100%;
    .picker-wrapper {
        height: 287px;
        margin-top: 6px;

        .picker-carousel {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 100%;

                .rmc-picker,
                .rmc-multi-picker {
                    height: 238px;
                    width: 100%;
                }

                .rmc-multi-picker {
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                }

                .rmc-picker-item {
                    font-size: 16px;
                    height: 45px;
                    line-height: 45px;
                    white-space: nowrap;
                    position: relative;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #9b9b9b;
                    width: 100%;
                    box-sizing: border-box;
                }

                .rmc-picker {
                    display: block;
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    -webkit-box-flex: 1;
                    flex: 1;
                    text-align: center;
                }

                .rmc-picker-mask {
                    display: none;
                }

                .picker-mask {
                    position: absolute;
                    top: -6px;
                    left: 0;
                    height: 100%;
                    margin: 0 auto;
                    width: 100%;
                    z-index: $z-base + 1;
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)),
                        linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
                    background-position: top, bottom;
                    background-size: 100% 121px;
                    background-repeat: no-repeat;
                    pointer-events: none;
                }

                .rmc-picker-content {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    z-index: $z-base;
                    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1.15) 0s;
                }

                .rmc-picker-indicator {
                    box-sizing: border-box;
                    width: 100%;
                    height: 45px;
                    position: absolute;
                    left: 0;
                    top: 102px;
                    z-index: $z-base + 1;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    pointer-events: none;
                }
            }

            .picker-item {
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                color: $darkest-grey;
                text-transform: capitalize;
            }
        }
    }

    .close-button {
        font-size: $body-font-size;
    }
