@import "../style/base.scss";

.menu-wrapper {
    position: relative;
    width: 50px;
    height: 50px;

    .square {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        opacity: 0.1;

        &.dark {
            background: $white;
        }

        &.light {
            background: $darker-ash-grey;
        }
    }

    .icon {
        position: absolute;
        top: 36%;
        left: 36%;
        font-weight: 700;
        font-size: $body-font-size;

        &.dark {
            color: $white;
        }

        &.light {
            color: $darker-ash-grey;
        }
    }
}
