@import "../style/color/colors";

    .alert-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        font-size: 25px;

        &.alert-icon-success {
            border: solid 3px $green;
            color: $green;
        }

        &.alert-icon-information {
            border: solid 3px $blue-cool;
            color: $blue-cool;
        }

        &.alert-icon-warning {
            border: solid 3px $orange;
            color: $orange;
        }

        &.alert-icon-error {
            border: solid 3px $orange-alert;
            color: $orange-alert;
        }
    }
