@import "../style/typography/typography";

    .alert-dialog {
        text-align: center;

        .icon {
            display: inline-block;
            margin: 10px 0;
            max-width: 160px;

            & > * {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .title {
            margin-top: 10px;
        }

        .content {
            margin: 20px 0;
            overflow: auto;

            &-not-align {
                text-align: left;
            }
        }

        .common-btn,
        .counter-btn {
            margin-top: 20px;
        }

        .secondary-btn {
            font-size: $body-font-size;
            font-weight: bold;
            padding: 15px 10px;
        }

        .counter-btn {
            font-weight: normal;
            border: none;
            background: none;
        }
    }
