@import "../style/base.scss";

@import "./DialogFrank.scss";

    .dialog-overlay {
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: $z-dialog;
        background-color: $app-overlay;

        .dialog {
            width: 85%;
            padding: 30px 20px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            background-color: $white;
            box-shadow: 0 2px 15px 8px rgba($black, 0.05);
            border-radius: 16px;

            .close-btn {
                position: absolute;
                padding: 10px;
                top: 10px;
                right: 10px;
                font-size: 18px;
                line-height: 12px; // remove empty space on top and bellow icon

                background: none;
                border: none;
            }
        }
    }

    $dialog-fade-active: 200ms;
    $dialog-fade-exit: 200ms;

    // Fade animation
    .dialog-fade {
        &-enter,
        &-appear {
            opacity: 0;
        }

        &-enter-active,
        &-appear-active {
            opacity: 1;
            transition: opacity $dialog-fade-active linear;
        }

        &-fade-exit {
            opacity: 1;
        }
        &-exit-active {
            opacity: 0;
            transition: opacity $dialog-fade-exit linear;
        }
    }
