@import "../../style/color/colors";

.line {
    height: 1px;
    width: 100%;
    background-color: $lightest-grey;
    border: 0;
    margin: 0;

    &.focused {
        background-color: $blue-link;
    }

    &.error {
        background-color: $red;
    }

    &.light {
        background-color: $light-grey;
    }

    &.dark {
        background-color: $darker-grey;
    }

    &.lighter-grey {
        background-color: $lighter-grey;
    }
}
