@import "../style/color/colors";

input {
    border: none;
    background-color: transparent;
}

.input-group {
    .input-group-item {
        border-bottom: 1px solid #e9e9e9;
        .label {
            padding: 20px 0;
            margin-bottom: 0;
            font-weight: 600;
            width: 100%;
            color: $ink;
            display: flex;
            justify-content: space-between;
            span {
                flex: 1;
            }
            &.v-align-center {
                min-height: 85px;
                align-items: center;
            }
        }
        &.na {
            opacity: 0.3;
        }
    }
    input[type="radio"],
    input[type="checkbox"] {
        // -webkit-appearance: none;
        position: relative;
        margin: 0;
        height: 24px;
        width: 24px;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
        }
    }

    input[type="radio"] {
        &::after {
            content: url("../../assets/images/inputs/radio/default-radio.svg");
        }

        &.error::after {
            content: url("../../assets/images/inputs/radio/error-radio.svg");
        }

        &:checked::after {
            content: url("../../assets/images/inputs/radio/selected-radio.svg");
        }

        &:disabled::after {
            content: url("../../assets/images/inputs/radio/disabled-radio.svg");
        }

        &:checked:disabled::after {
            content: url("../../assets/images/inputs/radio/disabled-selected-radio.svg");
        }
    }

    input[type="checkbox"] {
        &::after {
            content: url("../../assets/images/inputs/checkbox/default-checkbox.svg");
        }

        &.error::after {
            content: url("../../assets/images/inputs/checkbox/error-checkbox.svg");
        }

        &:checked::after {
            content: url("../../assets/images/inputs/checkbox/selected-checkbox.svg");
        }

        &:disabled::after {
            content: url("../../assets/images/inputs/checkbox/disabled-checkbox.svg");
        }

        &:checked:disabled::after {
            content: url("../../assets/images/inputs/checkbox/disabled-selected-checkbox.svg");
        }
    }
    & div.group-toggle {
        opacity: 1 !important; // to override inline style coming from react-switch library for disabled state
    }
}
