@import "../device-selector/device-selectors";
@import "../color/colors";

$iphone-small-ratio: 0.8;

// List of font sizes
$xsmall-font-size: 0.75rem; // => 12px
$small-font-size: 0.875rem; // => 14px
$body-font-size: 1rem; // => 16px
$big-font-size: 1.5rem; // => 24px

$h1-font-size: 2.5rem; // => 40px
$h2-font-size: 2rem; // => 32px
$h3-font-size: 1.625rem; // => 26px
$h4-font-size: 1.25rem; // => 20px
$h5-font-size: 1.125rem; // => 18px
$h6-font-size: $body-font-size; // => 16px

@mixin link {
    font-size: $body-font-size;
    line-height: 1.5;
    color: $blue-link;
    @include iphone-small {
        font-size: $body-font-size * $iphone-small-ratio;
    }
}

@mixin regular-bold {
    font-size: $body-font-size;
    font-weight: bold;
    line-height: 1.5;
    @include iphone-small {
        font-size: $body-font-size * $iphone-small-ratio;
    }
}

@mixin small-bold {
    font-size: $small-font-size;
    font-weight: bold;
    line-height: 1.43;
    @include iphone-small {
        font-size: $small-font-size * $iphone-small-ratio;
    }
}

@mixin small-semi-bold {
    font-size: $small-font-size;
    font-weight: 600;
    line-height: 1.43;
    @include iphone-small {
        font-size: $small-font-size * $iphone-small-ratio;
    }
}

@mixin small-link {
    font-size: $small-font-size;
    line-height: 1.71;
    color: $blue-link;
    @include iphone-small {
        font-size: $small-font-size * $iphone-small-ratio;
    }
}

@mixin small-regular {
    font-size: $small-font-size;
    line-height: 1.43;
    @include iphone-small {
        font-size: $small-font-size * $iphone-small-ratio;
    }
}

@mixin xsmall-bold {
    font-size: $xsmall-font-size;
    font-weight: bold;
    line-height: 1.5;
    @include iphone-small {
        font-size: $xsmall-font-size * $iphone-small-ratio;
    }
}

@mixin xsmall-semi-bold {
    font-size: $xsmall-font-size;
    font-weight: 600;
    line-height: 1.5;
    @include iphone-small {
        font-size: $xsmall-font-size * $iphone-small-ratio;
    }
}

@mixin xsmall-regular {
    font-size: $xsmall-font-size;
    line-height: 1.67;
    @include iphone-small {
        font-size: $xsmall-font-size * $iphone-small-ratio;
    }
}
