@import "../style/base.scss";

.tooltip-wrapper {
    opacity: 1;

    & > div:first-child {
        & > div:nth-child(2) {
            background: $gradient-tooltip-green;
            border-radius: 12px;
        }
    }

    &-top > div:first-child {
        & > div:nth-child(1) {
            border-top-color: #319988;
            border-width: 9px 9px 0;
            bottom: 0;
        }
    }

    &-bottom > div:first-child {
        & > div:nth-child(1) {
            border-bottom-color: #5fc9bd;
            border-width: 0 9px 9px;
            top: 0;
        }
    }
}
