@import '../style/color/colors';

.toggle {
    .react-switch-bg {
        border: 1px solid #dce2e5;
        background: radial-gradient(circle at 100% 46%, #21d2a3, #15adaf 100%);
    }
    .react-switch-handle {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    }

    .checked {
        :global {
            .react-switch-bg {
                border: 1px solid transparent;
            }
        }
    }

    .loading {
        @keyframes rotation {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        .react-switch-handle {
            &::after {
                :local {
                    animation: rotation 1s infinite linear;
                }
                width: 18px;
                height: 18px;
                content: '';
                position: absolute;
                top: 4px;
                right: 4px;
                border: solid 2px transparent;
                border-radius: 50%;
                background-image: linear-gradient(white, white),
                    linear-gradient(310deg, #889195, rgba(136, 145, 149, 0));
                background-origin: border-box;
                background-clip: content-box, border-box;
            }
        }
    }
}
